{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="disc-wrapper-main container">
    <div class="disc-wrapper-main-box">
        <div class="disc-wrapper-a container">
            <p>Главная <i style="margin-left: 5px;" class="fa-solid fa-chevron-right"></i> </p> <span>Скидки на
                Товары</span>
        </div>
        <div class="disc-wrapper-left">
            <h1>Подкатегории</h1>
            <hr class="line">
            <div class="disc-wrapper-left-ul">
                <ul>
                    <li><a href="#">Книги</a></li>
                    <li><a href="#">Телефоны и гаджеты</a></li>
                    <li><a href="#">Бытовая техника</a></li>
                    <li><a href="#">Климатическая техника</a></li>
                    <li><a href="#">Компьютерная техника</a></li>
                    <li><a href="#">Спорт и отдых</a></li>
                    <li><a href="#">Товары для дома и офиса</a></li>
                    <li><a href="#">Телевизоры, видео и аудио</a></li>
                    <li><a href="#">Товары для геймеров</a></li>
                    <li><a href="#">Мебель</a></li>
                    <li><a href="#">Посуда</a></li>
                    <li><a href="#">Красота и здоровье</a></li>
                    <li><a href="#">Детские товары</a></li>
                    <li><a href="#">Одежда, обувь и аксессуары</a></li>
                    <li><a href="#">Игрушки, подарки и аксессуары</a></li>
                    <li><a href="#">Автотовары</a></li>
                    <li><a href="#">Строительство и ремонт</a></li>
                    <li><a href="#">Канцелярские товары</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Цветы</a></li>

                </ul>
            </div>
        </div>
        <div class="disc-wrapper-left ">


            <h1>Производитель</h1>
            <div class="input-search">
                <input type="text" name="" id="" placeholder="Поиск">
                <img src="https://asaxiy.uz/custom-assets/images/icons/fi_search.svg" alt="">
            </div>
            <hr class="line">
            <div class="disc-wrapper-left-ul">
                <div class="disc-wrapper-left-ul2">
                    <ul>
                        <li><a href="#">AENO</a></li>
                        <li><a href="#">Apple</a></li>
                        <li><a href="#">Blackview</a></li>
                        <li><a href="#">Bosch</a></li>
                        <li><a href="#">Corona</a></li>
                        <li><a href="#">Daewoo </a></li>
                        <li><a href="#">Daewoo </a></li>
                        <li><a href="#">Gree </a></li>
                        <li><a href="#">HUION</a></li>
                        <li><a href="#">Hoco</a></li>
                        <li><a href="#">Honor</a></li>
                        <li><a href="#">Huter</a></li>
                        <li><a href="#">Immer</a></li>
                        <li><a href="#">LG Electronics</a></li>
                        <li><a href="#">Lexar</a></li>
                        <li><a href="#">MOONX</a></li>
                        <li><a href="#">Netac</a></li>
                        <li><a href="#">Samsung</a></li>
                        <li><a href="#">Sillicon Power</a></li>
                        <li><a href="#">Xiaomi</a></li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    {% block sidebar %}

    {% endblock %}
</div>
{% endblock %}